<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch}) %>
    </header>

    <div>
        <h3>Quản lý sản phẩm</h3>

        <div style="display: flex;">
            <div>
                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">ID</th>
                            <th style="border: 1px #000 solid;">Tên</th>
                            <th style="border: 1px #000 solid;">Ảnh</th>
                            <th style="border: 1px #000 solid;">Size</th>
                            <th style="border: 1px #000 solid;">Giá</th>
                            <th style="border: 1px #000 solid;">Loại</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">➕</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                            <tr>
                                <td style="border: 1px #000 solid;">
                                    <%- product.id; %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- product.name %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <img src="<%- product.image %>" width="100">
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- product.size %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- product.price %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- product.category %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <a href="javascript:void(0)">Edit</a>
                                    <a href="javascript:void(0)" style="color: red;">Delete</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div style="margin-left: 15px;">
                <div style="margin: 10px 0;">
                    <label for="name">Tên sản phẩm:</label>
                    <input type="text" id="name">
                </div>
                <div style="margin: 10px 0;">
                    <label for="image">Ảnh:</label>
                    <input type="text" id="image">
                </div>
                <div style="margin: 10px 0;">
                    <label for="price">Giá:</label>
                    <input type="number" id="price">
                </div>
                <div style="margin: 10px 0;">
                    <label for="name">Size:</label>
                    <div style="display: flex;">
                        <div style="margin: 0 5px;"><input type="checkbox" value="30">30</div>
                        <div style="margin: 0 5px;"><input type="checkbox" value="31">31</div>
                        <div style="margin: 0 5px;"><input type="checkbox" value="32">32</div>
                        <div style="margin: 0 5px;"><input type="checkbox" value="33">33</div>
                        <div style="margin: 0 5px;"><input type="checkbox" value="34">34</div>
                        <div style="margin: 0 5px;"><input type="checkbox" value="35">35</div>
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <label for="category">Loại:</label>
                    <select name="category" id="category">
                        <% categories.forEach(category=> { %>
                            <option value="<%- category.id %>">
                                <%- category.category %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <button id="addProduct">Thêm</button>
            </div>
        </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>