<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>

    <div>
        <h3>Quản lý sản phẩm</h3>

        <div style="display: flex;">
            <div>
                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">ID</th>
                            <th style="border: 1px #000 solid;">Hãng</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">🛠</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category=> { %>
                            <tr id="category-<%- category.id; %>">
                                <td style="border: 1px #000 solid;">
                                    <%- category.id; %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- category.category %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <a href="javascript:void(0)" onclick="getCategory(this)"
                                        data-id="<%- category.id %>">Edit</a>
                                    <a href="javascript:void(0)" style="color: red;" onclick="deleteCategory(this)"
                                        data-id="<%- category.id %>">Delete</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div style="margin-left: 15px;">
                <h3>Sửa</h3>
                <div style="margin: 10px 0;">
                    <label for="category">Hãng:</label>
                    <input type="text" id="updateCategoryName">
                    <input type="hidden" id="updateCategoryId">
                </div>
                <button id="updateCategory">Sửa</button>
            </div>
            <div style="margin-left: 15px;">
                <h3>Thêm</h3>
                <div style="margin: 10px 0;">
                    <label for="category">Hãng:</label>
                    <input type="text" id="addCategoryName">
                </div>

                <button id="addCategory">Thêm</button>
            </div>
        </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>