<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>

            <div class="container-scroller">
                <%- include('../partials/sidebar',{branch}) %>
                    <div class="container-fluid page-body-wrapper">
                        <!-- The Modal -->
                        <div class="main-panel pt-0">
                            <div class="content-wrapper">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Products</h4>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Image</th>
                                                        <th>Size</th>
                                                        <th>Price</th>
                                                        <th>Category</th>
                                                        <th>Deleted</th>
                                                        <th>
                                                            <a class="badge badge-outline-success w-100 fs-1" id="add"
                                                                href="javascript:void(0)"><i
                                                                    class="mdi mdi-plus-circle-multiple-outline"></i>
                                                                Add</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach(product=> { %>
                                                        <tr>
                                                            <td>
                                                                <%- product.id; %>
                                                            </td>
                                                            <td class="limit-word">
                                                                <%- product.name %>
                                                            </td>
                                                            <td>
                                                                <img class="img-shoe" src="<%- product.image %>"
                                                                    width="100">
                                                            </td>
                                                            <td>
                                                                <%- product.size %>
                                                            </td>
                                                            <td>
                                                                <%- product.price %>
                                                            </td>
                                                            <td>
                                                                <%- product.category %>
                                                            </td>
                                                            <td>
                                                                <%- product.deleted ? 'True' : 'False' %>
                                                            </td>
                                                            <td>
                                                                <a id="edit" class="badge badge-outline-warning"
                                                                    href="javascript:void(0)"
                                                                    data-id="<%- product.id %>"
                                                                    onclick="getProduct(this)">Edit</a>
                                                                <a class="badge badge-outline-danger"
                                                                    href="javascript:void(0)"
                                                                    data-id="<%- product.id %>"
                                                                    onclick="deleteProduct(this)">Delete</a>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


            <!--  -->
            <div>
                <h3>Quản lý sản phẩm</h3>

                <div style="display: flex;">
                    <div>
                        <table style="border: 1px #000 solid;">
                            <thead>
                                <tr>
                                    <th style="border: 1px #000 solid;">ID</th>
                                    <th style="border: 1px #000 solid;">Hãng</th>
                                    <th style="border: 1px #000 solid;">
                                        <a href="javascript:void(0)">🛠</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(category=> { %>
                                    <tr id="category-<%- category.id; %>">
                                        <td style="border: 1px #000 solid;">
                                            <%- category.id; %>
                                        </td>
                                        <td style="border: 1px #000 solid;">
                                            <%- category.category %>
                                        </td>
                                        <td style="border: 1px #000 solid;">
                                            <a href="javascript:void(0)" onclick="getCategory(this)"
                                                data-id="<%- category.id %>">Edit</a>
                                            <a href="javascript:void(0)" style="color: red;"
                                                onclick="deleteCategory(this)" data-id="<%- category.id %>">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-left: 15px;">
                        <h3>Sửa</h3>
                        <div style="margin: 10px 0;">
                            <label for="category">Hãng:</label>
                            <input type="text" id="updateCategoryName">
                            <input type="hidden" id="updateCategoryId">
                        </div>
                        <button id="updateCategory">Sửa</button>
                    </div>
                    <div style="margin-left: 15px;">
                        <h3>Thêm</h3>
                        <div style="margin: 10px 0;">
                            <label for="category">Hãng:</label>
                            <input type="text" id="addCategoryName">
                        </div>

                        <button id="addCategory">Thêm</button>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../partials/foot') %>
</body>

</html>