<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <!-- Add modal -->
    <div id="addModal" class="modal py-5 px-5">
        <!-- Modal content -->
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 d-block closeAdd close text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6 py-1">
                            <label for="addStaffFullname"><small>Họ tên:</small></label>
                            <input class="w-100" placeholder="Họ tên..." type="text" id="addStaffFullname">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="addStaffPhone"><small>Số điện thoại:</small></label>
                            <input class="w-100" placeholder="Số điện thoại..." type="number" id="addStaffPhone">
                        </div>
                        <div class="col-3 col-sm-3">
                            <label for="addStaffAge"><small>Tuổi:</small></label>
                            <input class="w-100" placeholder="Tuổi.." type="number" id="addStaffAge">
                        </div>
                        <div class="col-3 col-sm-3">
                            <label for="addStaffGender"><small>Giới tính:</small></label>
                            <select id="addStaffGender">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Address"><small>Địa chỉ:</small></label>
                            <input placeholder="Địa chỉ..." type="text" id="addStaffAddress">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Email"><small>Email:</small></label>
                            <input placeholder="X@gmail.com..." type="text" id="addStaffEmail">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="addStaffRole"><small>Role:</small></label>
                            <select id="addStaffRole">
                                <option value="manager">Manager</option>
                                <option value="cashier">Cashier</option>
                                <option value="storager">Storager</option>
                            </select>
                        </div>
                        <div class="col-3 col-sm-3">
                            <label><small>Username:</small></label>
                            <input placeholder="User name..." type="text" id="addStaffUsername">
                        </div>
                        <div class="col-3 col-sm-3">
                            <label><small>Password:</small></label>
                            <input placeholder="*****" type="password" id="addStaffPassword">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="addStaff">
                            <b class="fs-1">Thêm</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit modal -->
    <div id="editModal" class="modal py-5 px-5">
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 close closeEdit text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6 py-1">
                            <label for="fullname">Họ tên:</label>
                            <input placeholder="họ tên..." type="text" id="updateStaffFullname">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Age">Tuổi:</label>
                            <input placeholder="tuổi..." type="text" id="updateStaffAge">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Phone">Số điện thoại:</label>
                            <input placeholder="0X XXX..." type="text" id="updateStaffPhone">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Gender">Giới tính:</label>
                            <select id="updateStaffGender">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Address">Địa chỉ:</label>
                            <input type="text" placeholder="địa chỉ..." id="updateStaffAddress">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Email">Email:</label>
                            <input placeholder="X@gmail.com..." type="text" id="updateStaffEmail">
                        </div>
                        <div class="col-6 col-sm-6 py-1 d-flex flex-column justify-content-center">
                            <label for="Role">Role:</label>
                            <select id="updateStaffRole">
                                <option value="manager">Manager</option>
                                <option value="cashier">Cashier</option>
                                <option value="storager">Storager</option>
                            </select>
                        </div>
                        <input type="hidden" id="updateStaffId">


                    </div>
                    <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="updateStaff">
                        <b class="fs-1">Sửa</b>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <!-- The Modal -->
            <div class="main-panel pt-0">
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Quản lý Thành viên</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Level</th>
                                            <th>Deleted</th>
                                            <th>
                                                <a href="javascript:void(0)">🛠</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% memberships.slice(0,20).forEach(membership=> { %>
                                            <tr id="membership-<%- membership.id; %>">
                                                <td>
                                                    <%- membership.id %>
                                                </td>
                                                <td>
                                                    <%- membership.name %>
                                                </td>
                                                <td>
                                                    <%- membership.phone %>
                                                </td>
                                                <td>
                                                    <%- membership.level %>
                                                </td>
                                                <td>
                                                    <%- membership.deleted ? 'True' : 'False' %>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" onclick="getMembership(this)"
                                                        data-id="<%- membership.id %>">Edit</a>
                                                    <a href="javascript:void(0)" onclick="deleteMembership(this)"
                                                        data-id="<%- membership.id %>">Delete</a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h3>Sửa</h3>
                                <div>
                                    <label for="Name">Tên thành viên:</label>
                                    <input type="text" id="updateMemberName">
                                </div>
                                <div>
                                    <label for="Phone">Số điện thoại:</label>
                                    <input type="text" id="updateMemberPhone">
                                </div>
                                <div>
                                    <label for="Level">Level:</label>
                                    <input type="number" id="updateMemberLevel">
                                </div>
                                <input type="hidden" id="updateMemberId">

                                <button id="updateMember">Sửa</button>
                            </div>
                            <div>
                                <h3>Thêm</h3>
                                <div>
                                    <label for="Name">Tên thành viên:</label>
                                    <input type="text" id="addMemberName">
                                </div>
                                <div>
                                    <label for="Phone">Số điện thoại:</label>
                                    <input type="text" id="addMemberPhone">
                                </div>
                                <div>
                                    <label for="Level">Level:</label>
                                    <input type="number" id="addMemberLevel">
                                </div>

                                <button id="addMember">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partials/foot') %>
</body>

</html>