<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <div>
                <h3>Quản lý Thành viên</h3>

                <div style="display: flex;">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Level</th>
                                    <th>Deleted</th>
                                    <th>
                                        <a href="javascript:void(0)">🛠</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% memberships.slice(0,20).forEach(membership=> { %>
                                    <tr id="membership-<%- membership.id; %>">
                                        <td>
                                            <%- membership.id %>
                                        </td>
                                        <td>
                                            <%- membership.name %>
                                        </td>
                                        <td>
                                            <%- membership.phone %>
                                        </td>
                                        <td>
                                            <%- membership.level %>
                                        </td>
                                        <td>
                                            <%- membership.deleted ? 'True' : 'False' %>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="getMembership(this)"
                                                data-id="<%- membership.id %>">Edit</a>
                                            <a href="javascript:void(0)" style="color: red;"
                                                onclick="deleteMembership(this)"
                                                data-id="<%- membership.id %>">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin-left: 15px;">
                        <h3>Sửa</h3>
                        <div style="margin: 10px 0;">
                            <label for="Name">Tên thành viên:</label>
                            <input type="text" id="updateMemberName">
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Phone">Số điện thoại:</label>
                            <input type="text" id="updateMemberPhone">
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Level">Level:</label>
                            <input type="number" id="updateMemberLevel">
                        </div>
                        <input type="hidden" id="updateMemberId">

                        <button id="updateMember">Sửa</button>
                    </div>
                    <div style="margin-left: 15px;">
                        <h3>Thêm</h3>
                        <div style="margin: 10px 0;">
                            <label for="Name">Tên thành viên:</label>
                            <input type="text" id="addMemberName">
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Phone">Số điện thoại:</label>
                            <input type="text" id="addMemberPhone">
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Level">Level:</label>
                            <input type="number" id="addMemberLevel">
                        </div>

                        <button id="addMember">Thêm</button>
                    </div>
                </div>
            </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>