<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>

</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <!-- Add modal -->
    <div id="addModal" class="modal py-5 px-5">
        <!-- Modal content -->
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 closeAdd close text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6">
                            <label for="Name"><small>Tên sản phẩm:</small></label>
                            <input class="w-100" placeholder="Tên sản phẩm..." type="text" id="addProductName">
                        </div>
                        <div class="col-6 col-sm-6">
                            <label for="Image"><small>Ảnh:</small></label>
                            <input class="w-100" placeholder="Ảnh sản phẩm..." type="text" id="addProductImage">
                        </div>
                        <div class="col-6 col-sm-6">
                            <label for="Price"><small>Giá:</small></label>
                            <input class="w-100" placeholder="Giá sản phẩm..." type="number" id="addProductPrice">
                        </div>

                        <div class="col-6 col-sm-6 d-flex flex-column justify-content-center">
                            <label for="Category"><small>Category:</small></label>
                            <select class="rounded px-3 py-2 text-white" id="addProductCategory">
                                <% categories.forEach(category=> { %>
                                    <option class="text-white" value="<%- category.id %>">
                                        <%- category.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="d-flex flex-row col-12 col-sm-12 pt-3">
                            <label for="Size"><small>Size:</small></label>
                            <ul class="d-flex flex-row justify-content-between flex-wrap" style="list-style: none;">
                                <% size=[30,31,32,33,34,35,36,37,38,39,40].forEach(size=> { %>
                                    <li class="pl-3"><input type="checkbox" name="addSize" value="<%-size%>"><%-size%>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="addProduct">
                        <b class="fs-1">Thêm</b>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit modal -->
    <div id="editModal" class="modal py-5 px-5">
        <!-- Modal content -->
        <div class="modal-lg modal-dialog">
            <div class="container-fluid">
                <div>
                    <h3>Sửa</h3>
                    <div>
                        <label for="Name">Tên sản phẩm:</label>
                        <input type="text" id="updateProductName">
                    </div>
                    <div>
                        <label for="Image">Ảnh:</label>
                        <input type="text" id="updateProductImage">
                        <img src="" id="productImage" width="100">
                    </div>
                    <div>
                        <label for="Price">Giá:</label>
                        <input type="number" id="updateProductPrice">
                    </div>
                    <div>
                        <label for="Size">Size:</label>
                        <div style="display: flex;flex-wrap: wrap;">
                            <div>
                                <input type="checkbox" name="updateSize" id="size-30" value="30">30
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-31" value="31">31
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-32" value="32">32
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-33" value="33">33
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-34" value="34">34
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-35" value="35">35
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-36" value="36">36
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-37" value="37">37
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-38" value="38">38
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-39" value="39">39
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-40" value="40">40
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-41" value="41">41
                            </div>
                            <div style="margin: 0 5px;">
                                <input type="checkbox" name="updateSize" id="size-42" value="42">42
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="Category">Category:</label>
                        <select id="updateProductCategory">
                            <% categories.forEach(category=> { %>
                                <option value="<%- category.id %>">
                                    <%- category.category %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <input type="hidden" id="updateProductId">

                    <button id="updateProduct">Sửa</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <div class="container-fluid page-body-wrapper">
                <!-- The Modal -->
                <div class="main-panel pt-0">
                    <div class="content-wrapper">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Products</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Image</th>
                                                <th>Size</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Deleted</th>
                                                <th>
                                                    <a class="badge badge-outline-success w-100 fs-1" id="add"
                                                        href="javascript:void(0)"><i
                                                            class="mdi mdi-plus-circle-multiple-outline"></i>
                                                        Add</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% products.forEach(product=> { %>
                                                <tr>
                                                    <td>
                                                        <%- product.id; %>
                                                    </td>
                                                    <td class="limit-word">
                                                        <%- product.name %>
                                                    </td>
                                                    <td>
                                                        <img class="img-shoe" src="<%- product.image %>" width="100">
                                                    </td>
                                                    <td>
                                                        <%- product.size %>
                                                    </td>
                                                    <td>
                                                        <%- product.price %>
                                                    </td>
                                                    <td>
                                                        <%- product.category %>
                                                    </td>
                                                    <td>
                                                        <%- product.deleted ? 'True' : 'False' %>
                                                    </td>
                                                    <td>
                                                        <a id="edit" class="badge badge-outline-warning"
                                                            href="javascript:void(0)" data-id="<%- product.id %>"
                                                            onclick="getProduct(this)">Edit</a>
                                                        <a class="badge badge-outline-danger" href="javascript:void(0)"
                                                            data-id="<%- product.id %>"
                                                            onclick="deleteProduct(this)">Delete</a>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-fluid">
        <div>
            <h3>Sửa</h3>
            <div>
                <label for="Name">Tên sản phẩm:</label>
                <input type="text" id="updateProductName">
            </div>
            <div>
                <label for="Image">Ảnh:</label>
                <input type="text" id="updateProductImage">
                <img src="" id="productImage" width="100">
            </div>
            <div>
                <label for="Price">Giá:</label>
                <input type="number" id="updateProductPrice">
            </div>
            <div>
                <label for="Size">Size:</label>
                <div style="display: flex;flex-wrap: wrap;">
                    <div>
                        <input type="checkbox" name="updateSize" id="size-30" value="30">30
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-31" value="31">31
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-32" value="32">32
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-33" value="33">33
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-34" value="34">34
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-35" value="35">35
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-36" value="36">36
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-37" value="37">37
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-38" value="38">38
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-39" value="39">39
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-40" value="40">40
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-41" value="41">41
                    </div>
                    <div style="margin: 0 5px;">
                        <input type="checkbox" name="updateSize" id="size-42" value="42">42
                    </div>
                </div>
            </div>
            <div>
                <label for="Category">Category:</label>
                <select id="updateProductCategory">
                    <% categories.forEach(category=> { %>
                        <option value="<%- category.id %>">
                            <%- category.category %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <input type="hidden" id="updateProductId">

            <button id="updateProduct">Sửa</button>
        </div>
    </div>
    <%- include('../partials/foot') %>
</body>

</html>