<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>

</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <div>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close text-dark bg-danger">&times;</span>
                        <div>
                            <h3>Thêm</h3>
                            <div style="margin: 10px 0;">
                                <label for="Name">Tên sản phẩm:</label>
                                <input type="text" id="addProductName">
                            </div>
                            <div style="margin: 10px 0;">
                                <label for="Image">Ảnh:</label>
                                <input type="text" id="addProductImage">
                            </div>
                            <div style="margin: 10px 0;">
                                <label for="Price">Giá:</label>
                                <input type="number" id="addProductPrice">
                            </div>
                            <div style="margin: 10px 0;">
                                <label for="Size">Size:</label>
                                <div style="display: flex;flex-wrap: wrap;">
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="30">30
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="31">31
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="32">32
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="33">33
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="34">34
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="35">35
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="36">36
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="37">37
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="38">38
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="39">39
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="40">40
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="41">41
                                    </div>
                                    <div style="margin: 0 5px;"><input type="checkbox" name="addSize" value="42">42
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 10px 0;">
                                <label for="Category">Category:</label>
                                <select id="addProductCategory">
                                    <% categories.forEach(category=> { %>
                                        <option value="<%- category.id %>">
                                            <%- category.category %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <button id="addProduct">Thêm</button>
                        </div>
                    </div>

                </div>
                <div class="card-body d-flex">
                    <h4 class="card-title">Products</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Deleted</th>
                                    <th>
                                        <a class="badge badge-outline-success w-100 fs-1" id="myBtn"
                                            href="javascript:void(0)"><i
                                                class="mdi mdi-plus-circle-multiple-outline"></i> Add</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(product=> { %>
                                    <tr>
                                        <td>
                                            <%- product.id; %>
                                        </td>
                                        <td>
                                            <%- product.name %>
                                        </td>
                                        <td>
                                            <img src="<%- product.image %>" width="100">
                                        </td>
                                        <td>
                                            <%- product.size %>
                                        </td>
                                        <td>
                                            <%- product.price %>
                                        </td>
                                        <td>
                                            <%- product.category %>
                                        </td>
                                        <td>
                                            <%- product.deleted ? 'True' : 'False' %>
                                        </td>
                                        <td>
                                            <a class="badge badge-outline-warning" href="javascript:void(0)"
                                                data-id="<%- product.id %>" onclick="getProduct(this)">Edit</a>
                                            <a class="badge badge-outline-danger" href="javascript:void(0)"
                                                data-id="<%- product.id %>" onclick="deleteProduct(this)">Delete</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>