<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>

</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <!-- Add modal -->
    <div id="addModal" class="modal py-5 px-5">
        <!-- Modal content -->
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 d-block closeAdd close text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Name"><small>Tên sản phẩm:</small></label>
                            <input class="w-100" placeholder="Tên sản phẩm..." type="text" id="addProductName">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Image"><small>Ảnh:</small></label>
                            <input class="w-100" placeholder="Ảnh sản phẩm..." type="text" id="addProductImage">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Price"><small>Giá:</small></label>
                            <input class="w-100" placeholder="Giá sản phẩm..." type="number" id="addProductPrice">
                        </div>

                        <div class="col-6 col-sm-6 py-1 d-flex flex-column justify-content-center">
                            <label for="Category"><small>Category:</small></label>
                            <select class="rounded px-3 py-2 text-white" id="addProductCategory">
                                <% categories.forEach(category=> { %>
                                    <option class="text-white" value="<%- category.id %>">
                                        <%- category.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="d-flex flex-row col-12 col-sm-12 pt-3">
                            <label for="Size"><small>Size:</small></label>
                            <ul class="d-flex flex-row justify-content-between flex-wrap" style="list-style: none;">
                                <% size=[30,31,32,33,34,35,36,37,38,39,40].forEach(size=> { %>
                                    <li class="pl-3"><input type="checkbox" name="addSize" value="<%-size%>"><%-size%>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="addProduct">
                            <b class="fs-1">Thêm</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit modal -->
    <!-- <div id="editModal" class="modal py-5 px-5">
        
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 close closeEdit text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Name"><small>Tên sản phẩm:</small></label>
                            <input class="w-100 text-white" type="text" id="updateProductName">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Image"><small>Ảnh:</small></label>
                            <input class="w-100 text-white" placeholder="Ảnh sản phẩm..." type="text"
                                id="updateProductImage">
                            <img src="" id="productImage" width="100">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Price"><small>Giá:</small></label>
                            <input class="w-100 text-white" placeholder="Giá sản phẩm..." type="number"
                                id="updateProductPrice">
                        </div>
                        <div class="col-6 col-sm-6 py-1 d-flex flex-column justify-content-center">
                            <label for="Category"><small>Category:</small></label>
                            <select class="rounded px-3 py-2 text-white" id="updateProductCategory">
                                <% categories.forEach(category=> { %>
                                    <option class="text-white" value="<%- category.id %>">
                                        <%- category.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="d-flex flex-row col-12 col-sm-12 pt-3">
                            <label for="Size"><small>Size:</small></label>
                            <ul class="d-flex flex-row justify-content-between flex-wrap" style="list-style: none;">
                                <% size=[30,31,32,33,34,35,36,37,38,39,40].forEach(size=> { %>
                                    <li class="pl-3"><input type="checkbox" name="updateSize"
                                            value="<%-size%>"><%-size%>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <input type="hidden" id="updateProductId">
                    </div>
                    <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="updateProduct">
                        <b class="fs-1">Sửa</b>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <div class="container-fluid page-body-wrapper d-inline-block">
                <div id="editModal" class="content-wrapper container-fluid search">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-4 col-sm-4 py-1">
                            <label for="Name"><small>Tên sản phẩm:</small></label>
                            <input class="w-100 text-white" type="text" id="updateProductName">
                        </div>
                        <div class="col-4 col-sm-4 py-1">
                            <label for="Image"><small>Ảnh:</small></label>
                            <input class="w-100 text-white" placeholder="Ảnh sản phẩm..." type="text"
                                id="updateProductImage">
                            <img src="" id="productImage" width="100">
                        </div>
                        <div class="col-4 col-sm-4 py-1">
                            <label for="Price"><small>Giá:</small></label>
                            <input class="w-100 text-white" placeholder="Giá sản phẩm..." type="number"
                                id="updateProductPrice">
                        </div>
                        <div class="col-4 col-sm-4 py-1 d-flex flex-column justify-content-center">
                            <label for="Category"><small>Category:</small></label>
                            <select class="rounded px-3 py-2 text-white" id="updateProductCategory">
                                <% categories.forEach(category=> { %>
                                    <option class="text-white" value="<%- category.id %>">
                                        <%- category.category %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="d-flex flex-row col-4 col-sm-4 pt-3">
                            <label for="Size"><small>Size:</small></label>
                            <ul class="d-flex flex-row justify-content-between flex-wrap" style="list-style: none;">
                                <% size=[30,31,32,33,34,35,36,37,38,39,40].forEach(size=> { %>
                                    <li class="pl-3"><input type="checkbox" name="updateSize" id="size-<%-size%>"
                                            value="<%-size%>"><%-size%>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <input type="hidden" id="updateProductId">
                    </div>
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 close closeEdit text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="updateProduct">
                        <b class="fs-1">Sửa</b>
                    </button>

                </div>
                <!-- The Modal -->
                <div class="main-panel pt-0">
                    <div class="content-wrapper">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Products</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Image</th>
                                                <th>Size</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Deleted</th>
                                                <th>
                                                    <a class="badge badge-outline-success w-100 fs-1" id="add"
                                                        href="javascript:void(0)"><i
                                                            class="mdi mdi-plus-circle-multiple-outline"></i>
                                                        Add</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% products.forEach(product=> { %>
                                                <tr>
                                                    <td>
                                                        <%- product.id; %>
                                                    </td>
                                                    <td class="limit-wordStaff">
                                                        <%- product.name %>
                                                    </td>
                                                    <td>
                                                        <img class="img-shoe" src="<%- product.image %>" width="100">
                                                    </td>
                                                    <td>
                                                        <%- product.size %>
                                                    </td>
                                                    <td>
                                                        <%- product.price %>
                                                    </td>
                                                    <td>
                                                        <%- product.category %>
                                                    </td>
                                                    <td>
                                                        <%- product.deleted ? 'True' : 'False' %>
                                                    </td>
                                                    <td>
                                                        <a id="edit" class="badge badge-outline-warning"
                                                            href="javascript:void(0)" data-id="<%- product.id %>"
                                                            onclick="getProduct(this)">Edit</a>
                                                        <a class="badge badge-outline-danger" href="javascript:void(0)"
                                                            data-id="<%- product.id %>"
                                                            onclick="deleteProduct(this)">Delete</a>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>