<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>

    <div>
        <h3>Quản lý Kho</h3>

        <div style="display: flex;">
            <div>
                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">Product</th>
                            <th style="border: 1px #000 solid;">Quantity</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">🛠</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% storages.forEach(storage=> { %>
                            <tr id="storage-<%- storage.id; %>">
                                <td style="border: 1px #000 solid;">
                                    <%- storage.name %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- storage.quantity %>
                                </td>

                                <td style="border: 1px #000 solid;">
                                    <a href="javascript:void(0)" onclick="getStorage(this)"
                                        data-id="<%- storage.id %>">Edit</a>
                                    <a href="javascript:void(0)" style="color: red;" onclick="deleteStorage(this)"
                                        data-id="<%- storage.id %>">Delete</a>
                                </td>

                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div style="margin-left: 15px;">
                <h3>Sửa</h3>
                <div style="margin: 10px 0;">
                    <label for="Product">Sản phẩm:</label>
                    <input type="text" id="updateStorageProduct" disabled>
                </div>
                <div style="margin: 10px 0;">
                    <label for="Quantity">Số lượng:</label>
                    <input type="text" id="updateStorageQuantity">
                </div>
                <input type="hidden" id="updateStorageId">

                <button id="updateStorage">Sửa</button>
            </div>

            <div style="margin-left: 15px;">
                <h3>Thêm</h3>
                <div style="margin: 10px 0;">
                    <label for="Product">Sản phẩm:</label>
                    <input type="text" id="addStorageProduct" disabled>
                    <input type="hidden" id="addStorageProductId">
                </div>
                <div style="margin: 10px 0;">
                    <label for="Quantity">Số lượng:</label>
                    <input type="text" id="addStorageQuantity">
                </div>

                <button id="addStorage">Thêm</button>

                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">ID</th>
                            <th style="border: 1px #000 solid;">Name</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">🛠</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                            <tr>
                                <td style="border: 1px #000 solid;">
                                    <%- product.id; %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <%- product.name %>
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <a href="javascript:void(0)" data-id="<%- product.id %>"
                                        data-name="<%- product.name %>" onclick="selectProduct(this)">Select</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../partials/foot') %>
</body>

</html>