<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {domain}) %>
</head>

<body>
    <header>
        <%- include('../partials/header', {branch, user}) %>
    </header>
    <!-- Add modal -->
    <div id="addModal" class="modal py-5 px-5">
        <!-- Modal content -->
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                        class="badge badge-outline-danger mx-0 my-0 px-2 py-0 d-block closeAdd close text-danger bg-light"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap container-fluid search">
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Name"><small>Tên sản phẩm:</small></label>
                            <input class="w-100" placeholder="Tên sản phẩm..." type="text" id="addProductName">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Image"><small>Ảnh:</small></label>
                            <input class="w-100" placeholder="Ảnh sản phẩm..." type="text" id="addProductImage">
                        </div>
                        <div class="col-6 col-sm-6 py-1">
                            <label for="Price"><small>Giá:</small></label>
                            <input class="w-100" placeholder="Giá sản phẩm..." type="number" id="addProductPrice">
                        </div>

                        <div class="col-6 col-sm-6 py-1 d-flex flex-column justify-content-center">
                            <label for="storage"><small>storage:</small></label>
                            <select class="rounded px-3 py-2 text-white" id="addProductstorage">
                                <% storages.forEach(storage=> { %>
                                    <option class="text-white" value="<%- storage.id %>">
                                        <%- storage.storage %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="d-flex flex-row col-12 col-sm-12 pt-3">
                            <label for="Size"><small>Size:</small></label>
                            <ul class="d-flex flex-row justify-content-between flex-wrap" style="list-style: none;">
                                <% size=[30,31,32,33,34,35,36,37,38,39,40].forEach(size=> { %>
                                    <li class="pl-3"><input type="checkbox" name="addSize" value="<%-size%>"><%-size%>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="rounded px-5 py-3 text-white float-right badge bg-success" id="addProduct">
                            <b class="fs-1">Thêm</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-scroller">
        <%- include('../partials/sidebar',{branch}) %>
            <div class="container-fluid page-body-wrapper">
                <!-- The Modal -->
                <div class="main-panel pt-0">
                    <div class="content-wrapper">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Storage</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>
                                                    <a href="javascript:void(0)">🛠</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% storages.forEach(storage=> { %>
                                                <tr id="storage-<%- storage.id; %>">
                                                    <td>
                                                        <%- storage.name %>
                                                    </td>
                                                    <td>
                                                        <%- storage.quantity %>
                                                    </td>

                                                    <td>
                                                        <a id="edit" class="badge badge-outline-warning"
                                                            href="javascript:void(0)" onclick="getStorage(this)"
                                                            data-id="<%- storage.id %>">Edit</a>
                                                        <a href="javascript:void(0)" class="badge badge-outline-danger"
                                                            onclick="deleteStorage(this)"
                                                            data-id="<%- storage.id %>">Delete</a>
                                                    </td>

                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-left: 15px;">
                        <h3>Sửa</h3>
                        <div style="margin: 10px 0;">
                            <label for="Product">Sản phẩm:</label>
                            <input type="text" id="updateStorageProduct" disabled>
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Quantity">Số lượng:</label>
                            <input type="text" id="updateStorageQuantity">
                        </div>
                        <input type="hidden" id="updateStorageId">

                        <button id="updateStorage">Sửa</button>
                    </div>

                    <div style="margin-left: 15px;">
                        <h3>Thêm</h3>
                        <div style="margin: 10px 0;">
                            <label for="Product">Sản phẩm:</label>
                            <input type="text" id="addStorageProduct" disabled>
                            <input type="hidden" id="addStorageProductId">
                        </div>
                        <div style="margin: 10px 0;">
                            <label for="Quantity">Số lượng:</label>
                            <input type="text" id="addStorageQuantity">
                        </div>

                        <button id="addStorage">Thêm</button>

                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>
                                        <a href="javascript:void(0)">🛠</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(product=> { %>
                                    <tr>
                                        <td>
                                            <%- product.id; %>
                                        </td>
                                        <td>
                                            <%- product.name %>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" data-id="<%- product.id %>"
                                                data-name="<%- product.name %>" onclick="selectProduct(this)">Select</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <%- include('../partials/foot') %>
</body>

</html>